<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/icon/apple-57-precomposed.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icon/apple-72-precomposed.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icon/apple-114-precomposed.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icon/apple-144-precomposed.png" />
    <title>#{{ g.eventid }}: {{ g.title }} - LoveLiv</title>
    <style>
        * {
            font-family: 'Helvetica Neue', Helvetica, Arial, '微软雅黑', 'Microsoft YaHei', sans-serif;
        }
        kbd {
            font-family: 'Consolas', 'Courier', '微软雅黑', 'Microsoft YaHei', monospace;
        }
        p {
            margin: .75em 0 .75em 0;
        }
        a {
            color: black;
        }
        .errlog span {
            color: red;
        }
    </style>
</head>
<body>
    <p>
        <b><a href="{{ url_for('event_index',eventid=g.eventid) }}">{{ g.title }}</a></b> /
        {% if timeleft.total_seconds()>0 %}
            还剩 {{ timeleft.days }} 天 {{ timeleft.seconds//3600 }} 小时
        {% else %}
            已经结束
        {% endif %}
    </p>
    <hr>
    <p><b>一档</b> / <kbd>{{ line.t1c }} pt</kbd> / <kbd>预测 {{ line.t1p }} pt</kbd></p>
    <p><b>二档</b> / <kbd>{{ line.t2c }} pt</kbd> / <kbd>预测 {{ line.t2p }} pt</kbd></p>
    <p><b>三档</b> / <kbd>{{ line.t3c }} pt</kbd> / <kbd>预测 {{ line.t3p }} pt</kbd></p>

    <hr>
    {% for ind,follow in follows|dictsort %}
        <p>
            <b><a href="{{ url_for('follower_details',eventid=g.eventid,ind=ind) }}">{{ follow.name }}</a></b> /
            <kbd>{{ follow.score }} pt</kbd> /
            <kbd>#{{ follow.rank if follow.rank!=999999 else 'INF' }}</kbd>
        </p>
    {% endfor %}

    <hr>
    <p>
        <kbd>{{ line.time | strftime }}</kbd> 更新 /
        <a href="{{ url_for('event_list') }}"><b>返回主页</b></a>
    </p>
    {% for time,content in err_logs %}
        <p class="errlog"><kbd>{{ time | strftime }}</kbd> / <span>{{ content }}</span></p>
    {% endfor %}

</body>
</html>