{% extends "event_base.html" %}
{% block content %}
    {{ super() }}
    <style>
    span.event-score {
        min-width: 6em;
        display: inline-block;
        text-align: right;
        padding-right: .5em;
        margin-right: .5em;
        font-family: 'Consolas', 'Courier', '微软雅黑', 'Microsoft YaHei', monospace;
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    </style>

    <div class="well well-lg" style="font-size: 1.2em">
        {{ timestamp(g.begin) }} ~ {{ timestamp(g.end) }}，更新于 {{ timestamp(g.real_time) }}
    </div>

    <ul class="list-group">
        <li class="list-group-item active">当前分数</li>
        {% for item in scores|sort(attribute='score',reverse=True) %}
            <li class="list-group-item">
                <h3 class="list-group-item-heading">
                    <span class="event-score">{{ item.score }} pt</span>
                    {{ item.name }}
                    {% if item.desc %}
                        <small>({{ item.desc }})</small>
                    {% endif %}
                </h3>
            </li>
        {% endfor %}
    </ul>
{% endblock %}