{% extends "base.html" %}
{% block title %}活动 #{{ g.eventid }}: {{ g.title }}{% endblock %}
{% block content %}
    <nav class="navbar navbar-default"><div class="container-fluid">
        <p class="navbar-text pull-right">LoveLiv</p>
        <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-chevron-left"></span> 返回
        </a>
        <ul class="nav navbar-nav">
            <li {{ 'class="active"'|safe if request.path.endswith('/index') }}><a href="index">{{ g.title }}</a></li>
            <li {{ 'class="active"'|safe if request.path.endswith('/predict') }}><a href="predict">预测线</a></li>
            {% for ind,name in g.follows %}
                <li {{ 'class="active"'|safe if request.path.endswith('/follow%d'%ind) }}>
                    <a href="follow{{ ind | urlencode }}">{{ name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div></nav>

{% endblock %}