{% extends "base.html" %}
{% block title %}活动 #{{ g.eventid }}: {{ g.title }}{% endblock %}
{% block content %}
    <nav class="navbar navbar-default"><div class="container-fluid">
        <p class="navbar-text pull-right">LoveLiv</p>
        <a class="navbar-brand" href="{{ url_for('event_list') }}">
            <span class="glyphicon glyphicon-chevron-left"></span> 返回
        </a>
        <ul class="nav navbar-nav">
            <li {{ 'class="active"'|safe if request.path.endswith('/index') }}>
                <a href="{{ url_for('event_index',eventid=g.eventid) }}">{{ g.title }}</a>
            </li>
            <li {{ 'class="active"'|safe if request.path.endswith('/predict') }}>
                <a href="{{ url_for('event_predict',eventid=g.eventid) }}">档线</a>
            </li>
            {% for ind,name in g.follows %}
                <li {{ 'class="active"'|safe if '/follow%d/'%ind in request.path }}>
                    <a href="{{ url_for('event_follow',eventid=g.eventid,ind=ind) }}">{{ name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div></nav>

{% endblock %}