{% extends "event_base.html" %}
{% block content %}
    {{ super() }}
    <style>
        .chart {
            width: 100%;
            height: 500px;
        }
    </style>

    <div id="line-chart" class="chart"></div>
    <br>
    <div id="predict-chart" class="chart"></div>

    <script>
        var line_chart=echarts.init(document.getElementById('line-chart')),
            predict_chart=echarts.init(document.getElementById('predict-chart'));
        line_chart.showLoading();
        predict_chart.showLoading();

        $.get('api_predict.json').done(function(data) {
            line_chart.hideLoading();
            line_chart.setOption({
                title: {
                    text: '档线变化'
                },
                tooltip: {},
                legend: {
                    data : ['一档·实际','二档·实际','三档·实际','一档·拟合','二档·拟合','三档·拟合']
                },
                xAxis: {
                    type: 'category',
                    data: data['times']
                },
                yAxis: {},
                dataZoom: [{
                    type: 'slider',
                    start: 0,
                    end: 100
                }],
                series: [
                    {name: '一档·实际', type: 'line', lineStyle:{normal: {type: 'solid'}}, data: data['l1c']},
                    {name: '二档·实际', type: 'line', lineStyle:{normal: {type: 'solid'}}, data: data['l2c']},
                    {name: '三档·实际', type: 'line', lineStyle:{normal: {type: 'solid'}}, data: data['l3c']},
                    {name: '一档·拟合', type: 'line', lineStyle:{normal: {type: 'dotted'}}, data: data['l1r']},
                    {name: '二档·拟合', type: 'line', lineStyle:{normal: {type: 'dotted'}}, data: data['l2r']},
                    {name: '三档·拟合', type: 'line', lineStyle:{normal: {type: 'dotted'}}, data: data['l3r']}
                ]
            });
            predict_chart.hideLoading();
            predict_chart.setOption({
                title: {
                    text: '预测线变化'
                },
                tooltip: {},
                legend: {
                    data : ['一档','二档','三档']
                },
                xAxis: {
                    type: 'category',
                    data: data['times']
                },
                yAxis: {},
                dataZoom: [{
                    type: 'slider',
                    start: 0,
                    end: 100
                }],
                series: [
                    {name: '一档', type: 'line', lineStyle:{normal: {type: 'solid'}}, data: data['l1p']},
                    {name: '二档', type: 'line', lineStyle:{normal: {type: 'solid'}}, data: data['l2p']},
                    {name: '三档', type: 'line', lineStyle:{normal: {type: 'solid'}}, data: data['l3p']}
                ]
            });
        });
    </script>

    {# <table class="table table-hover">
        <thead>
            <tr>
                <th rowspan="2">时间</th>
                <th colspan="3">#2300</th>
                <th colspan="3">#11500</th>
                <th colspan="3">#23000</th>
            </tr>
            <tr>
                {% for _ in range(3) %}
                    <th>实际</th>
                    <th>拟合</th>
                    <th>预测</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for time,t1pre,t1cur,t2pre,t2cur,t3pre,t3cur in lines[::5] %}
                <tr>
                    <td>{{ time | strftime }}</td>
                    {% for pre,cur in [(t1pre,t1cur),(t2pre,t2cur),(t3pre,t3cur)] %}
                        <td>{{ cur }}</td>
                        <td>{{ (pre*(time-g.begin)/(g.end-g.begin)) | int }}</td>
                        <td>{{ pre }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table> #}
{% endblock %}