{% extends "follow_base.html" %}
{% block content %}
    {{ super() }}
    <style>
        .chart {
            width: 100%;
            height: 500px;
        }
    </style>

    <div id="line-chart" class="chart"></div>
    <br>
    <div id="predict-chart" class="chart"></div>

    <script>
        var line_chart=echarts.init(document.getElementById('line-chart')),
            predict_chart=echarts.init(document.getElementById('predict-chart')),
            USERNAME=decodeURIComponent("{{ g.fname | urlencode }}");
        line_chart.showLoading();
        predict_chart.showLoading();

        $.when(
            $.get('{{ url_for('api_predict',eventid=g.eventid) }}'),
            $.get('{{ url_for('api_follower_score',eventid=g.eventid,ind=g.follower_ind) }}')
        ).done(function(line_res,score_res) {
            var line_data=line_res[0], score_data=score_res[0];
            line_chart.hideLoading();
            line_chart.setOption({
                title: {
                    text: '实际分数'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data : ['一档·实际','二档·实际','三档·实际','一档·拟合','二档·拟合','三档·拟合',USERNAME]
                },
                xAxis: {
                    type: 'category',
                    data: line_data['times']
                },
                yAxis: {},
                dataZoom: [{
                    type: 'slider',
                    start: 0,
                    end: 100
                }],
                series: [ //fixme: bug when player's time is difference with line's time
                    {name:'一档·实际',type:'line',itemStyle:{normal:{opacity:0}},lineStyle:{normal:{type: 'solid'}},data: line_data['l1c']},
                    {name:'二档·实际',type:'line',itemStyle:{normal:{opacity:0}},lineStyle:{normal:{type: 'solid'}},data: line_data['l2c']},
                    {name:'三档·实际',type:'line',itemStyle:{normal:{opacity:0}},lineStyle:{normal:{type: 'solid'}},data: line_data['l3c']},
                    {name:'一档·拟合',type:'line',itemStyle:{normal:{opacity:0}},lineStyle:{normal:{type: 'dotted'}},data: line_data['l1r']},
                    {name:'二档·拟合',type:'line',itemStyle:{normal:{opacity:0}},lineStyle:{normal:{type: 'dotted'}},data: line_data['l2r']},
                    {name:'三档·拟合',type:'line',itemStyle:{normal:{opacity:0}},lineStyle:{normal:{type: 'dotted'}},data: line_data['l3r']},
                    {
                        name: USERNAME, type: 'line', data: score_data['real'],
                        lineStyle: {normal: {type: 'solid',width: 5, color: '#44aaee'}},
                        areaStyle: {normal: {color: '#99ddff'}}
                    }
                ]
            });
            predict_chart.hideLoading();
            predict_chart.setOption({
                title: {
                    text: '拟合分数'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data : ['一档','二档','三档',USERNAME]
                },
                xAxis: {
                    type: 'category',
                    data: line_data['times']
                },
                yAxis: {},
                dataZoom: [{
                    type: 'slider',
                    start: 0,
                    end: 100
                }],
                series: [
                    {name:'一档',type:'line',itemStyle:{normal:{opacity:0}},lineStyle:{normal:{type:'solid'}},data: line_data['l1p']},
                    {name:'二档',type:'line',itemStyle:{normal:{opacity:0}},lineStyle:{normal:{type:'solid'}},data: line_data['l2p']},
                    {name:'三档',type:'line',itemStyle:{normal:{opacity:0}},lineStyle:{normal:{type:'solid'}},data: line_data['l3p']},
                    {
                        name: USERNAME, type: 'line', data: score_data['predict'],
                        lineStyle: {normal: {type: 'solid',width: 5, color: '#44aaee'}},
                        areaStyle: {normal: {color: '#99ddff'}}
                    }
                ]
            });
        });
    </script>
{% endblock %}