{% extends "follow_base.html" %}
{% block content %}
    {{ super() }}
    <style>
        .chart {
            width: 100%;
        }
    </style>

    <div id="time-chart" class="chart" style="height: 75px"></div>
    <div id="score-chart" class="chart" style="height: 450px"></div>
    <script>
        var time_chart=echarts.init(document.getElementById('time-chart')),
            score_chart=echarts.init(document.getElementById('score-chart')),
            USERNAME=decodeURIComponent("{{ g.fname | urlencode }}");
        time_chart.showLoading();
        score_chart.showLoading();
        $.get('{{ url_for('api_follower_stats',eventid=g.eventid,ind=g.follower_ind) }}').done(function(data) {
            time_chart.hideLoading();
            time_chart.setOption({
                title: [{
                    textBaseline: 'middle',
                    text: '得分时间',
                    top: 25
                }],
                tooltip: {
                    position: 'top'
                },
                singleAxis: [{
                    left: 150,
                    height: 50,
                    top: '5%',
                    type: 'value',
                    min: 0,
                    max: 23,
                    interval: 1
                }],
                series: [{
                    coordinateSystem: 'singleAxis',
                    type: 'scatter',
                    data: data['times'],
                    symbolSize: function (item) {
                        return item[1]*2;
                    }
                }]
            });
            score_chart.hideLoading();
            score_chart.setOption({
                tooltip: {},
                yAxis: {
                    data: data['scores_keys'],
                    axisLabel: {
                        interval: 0
                    }
                },
                xAxis: {
                    type: 'log',
                    logBase: 2,
                    min: .5
                },
                series: [{
                    name: USERNAME,
                    type: 'bar',
                    data: data['scores_values']
                }]
            });
        });
    </script>
{% endblock %}