{% extends "follow_base.html" %}
{% block content %}
    {{ super() }}
    <style>
        table.table-consolas td, table.table-consolas td * {
            font-family: 'Consolas', 'Courier', monospace !important;
        }
    </style>

    <div class="well well-lg" style="font-size: 1.2em">
        <b>{{ g.fname }}</b> (ID: {{ g.fid }}, lv{{ g.flevel }}) /
        <kbd>{{ g.fscore }}pt</kbd> / <kbd>#{{ g.frank }}</kbd>
        / 更新于 {{ timestamp(g.ftime) }}
    </div>

    <table class="table table-hover table-consolas">
        <thead>
            <tr>
                <th>时间</th>
                <th>分数</th>
                <th>排名</th>
            </tr>
        </thead>
        <tbody>
            {% set scores=scores|sort(attribute='time') %}
            {% with score=0, rank2=None %}
                {% for i in range(scores|length) %}
                    {% if scores[i].type=='score' %}
                        {% set last_score,last_rank2=score,rank2 %}
                        {% set time,score,rank1,rank2=scores[i].value %}
                        <tr>
                            <td>{{ time | strftime }}</td>
                            <td>
                                <i>+{{ score-last_score }}</i>
                                = <b>{{ score }}pt</b>
                            </td>
                            <td>
                                <i>({{ rank1-last_rank2 if last_rank2 is not none else '???' }})</i> <b>#{{ rank1 }}</b> →
                                <b>#{{ rank2 }}</b> <i>(+{{ rank2-rank1 }})</i>
                            </td>
                        </tr>
                    {% elif scores[i].type=='level' %}
                        {% set time,lv=scores[i].value %}
                        <tr>
                            <td>{{ time | strftime }}</td>
                            <td colspan="2">
                                <b> &nbsp; → 升级到 Lv. {{ lv }}</b>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endwith %}
        </tbody>
    </table>
{% endblock %}