{% extends "follow_base.html" %}
{% block content %}
    {{ super() }}
    <style>
        .chart {
            width: 100%;
        }
    </style>

    <div id="time-chart" class="chart" style="height: 400px"></div>
    <div id="score-chart" class="chart" style="height: 450px"></div>
    <script>
        var time_chart=echarts.init(document.getElementById('time-chart')),
            score_chart=echarts.init(document.getElementById('score-chart')),
            USERNAME=decodeURIComponent("{{ g.fname | urlencode }}"),
            data=null;
        
        function setdimension_factory(ind) {
            return function() {
                time_chart.setOption({
                    visualMap: {
                        max: data['maxes'][ind],
                        min: data['mines'][ind]
                    },
                    series: {
                        data: data['times'][ind]
                    }
                });
            }
        }
            
        time_chart.showLoading();
        score_chart.showLoading();
        $(window).on('resize',function() {time_chart.resize(); score_chart.resize();});
        $.get('{{ url_for('api_follower_stats',eventid=g.eventid,ind=g.follower_ind) }}').done(function(data) {
            window.data=data;
            time_chart.hideLoading();
            time_chart.setOption({
                title: [{
                    textBaseline: 'middle',
                    text: '游戏时间',
                    top: 25
                }],
                grid: {
                    right: 60
                },
                visualMap: {
                    // dimension: 2, // these 3 values are updated in setdimension
                    // min: 0,
                    // max: data['maxval'][0],
                    textStyle: {
                        fontSize: 10
                    },
                    calculable: true,
                    top: 'middle',
                    right: 0
                },
                toolbox: {
                    top: 15,
                    right: 30,
                    itemSize: 20,
                    feature: {
                        mySelLive: {
                            show: true,
                            title: '活动pt',
                            icon: 'image:///static/icon/label_pt.png',
                            onclick: setdimension_factory(0),
                        },
                        mySelSong: {
                            show: true,
                            title: '歌曲数',
                            icon: 'image:///static/icon/label_song.png',
                            onclick: setdimension_factory(1),
                        },
                        mySelLp: {
                            show: true,
                            title: 'LP',
                            icon: 'image:///static/icon/label_lp.png',
                            onclick: setdimension_factory(2),
                        },
                        mySelItem: {
                            show: true,
                            title: '传统活动道具',
                            icon: 'image:///static/icon/label_items.png',
                            onclick: setdimension_factory(3),
                        }
                    }
                },
                xAxis: {
                    type: 'category',
                    data: [3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,'+0','+1','+2'],
                    splitArea: {show: true}
                },
                yAxis: {
                    type: 'category',
                    data: data['days'],
                    splitArea: {show: true}
                },
                series: {
                    type: 'heatmap',
                    label: {normal: {show: true}}
                    // data is updated in setdimension
                }
            });
            setdimension_factory(1)(); // songs
            score_chart.hideLoading();
            score_chart.setOption({
                title: [{
                    textBaseline: 'middle',
                    text: '获得pt',
                    top: 25
                }],
                tooltip: {},
                toolbox: {
                    top: 15,
                    right: 30,
                    itemSize: 20,
                    feature: {
                        myLinear: {
                            show: true,
                            title: '线性坐标',
                            icon: 'image:///static/icon/label_linear.png',
                            onclick: function() {
                                score_chart.setOption({
                                    xAxis: {
                                        type: 'value',
                                        min: 0
                                    }
                                });
                            },
                        },
                        myLog: {
                            show: true,
                            title: '对数坐标',
                            icon: 'image:///static/icon/label_log.png',
                            onclick: function() {
                                score_chart.setOption({
                                    xAxis: {
                                        type: 'log',
                                        logBase: 2,
                                        min: .5
                                    }
                                });
                            },
                        },
                    }
                },
                yAxis: {
                    data: data['scores_keys'],
                    axisLabel: {
                        interval: 0
                    }
                },
                xAxis: {
                    type: 'log',
                    logBase: 2,
                    min: .5
                },
                series: [{
                    name: USERNAME,
                    type: 'bar',
                    data: data['scores_values']
                }]
            });
        });
    </script>
{% endblock %}