{% macro logs_style() %}
    <style>
        .logs-channel-info {
            color: #337ab7;
        }
        .logs-channel-debug {
            color: #aaaaaa;
        }
        .logs-channel-error {
            color: #ca3331;
        }
        .logs-channel-success {
            color: #0c962d;;
        }
        .logs-channel::before {
            content: ' [';
        }
        .logs-channel::after {
            content: '] ';
        }
    </style>
{% endmacro %}
{% macro show_logs(logs,more=False) %}
    <ul class="list-group">
        {% for time,channel,content in logs %}
            <li class="list-group-item">
                <span class="timestamp">{{ time | strftime }}</span>
                <b class="logs-channel logs-channel-{{ channel }} consolas">{{ channel }}</b>
                {{ content }}
            </li>
        {% endfor %}
        {% if more %}
            <li class="list-group-item">
                <button class="btn btn-link" data-toggle="modal" data-target="#logs-modal">
                    <span class="glyphicon glyphicon-new-window"></span> 查看全部日志
                </button>
            </li>
        {% endif %}
    </ul>
{% endmacro %}

{{ show_logs(logs) }}